<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tienda-virtual2/Ecommerce-SOA/

    # Permitir archivos y dirs reales
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Reescribe y ESCAPA ($1) para query string (B)
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L,B]
</IfModule>
